a {
    text-decoration: none;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    left: 0;
    top: 64;
    background-color: #EDECEC; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.nav-btn {
    padding: 8px 8px 8px 25px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    transition: 0.3s;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: start;
}

/* When you mouse over the navigation links, change their color */
.nav-btn:hover {
    color: #5c5c5c;
}

.nav-btn img{
    margin-right: 15px;

    height: 30px;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


.container-img{
    width: 100%;
    border-bottom: 1px solid #C1C1C3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.burguer-img {
    cursor: pointer;
    transform: rotate(90deg);

    padding: 5px;
    max-width: 35px;
}

.btn-menu{
    width: 180px;
    padding: 5px;
    background: none;

    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    cursor: pointer;

    margin: 5px 10px 0 0;
}

.btn-menu span{
    margin-left: 20px;
}

.btn-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
        top: 128;
    }

    .sidenav span {font-size: 18px;}

}

@media screen and (max-width: 450px){
    .btn-container{
        justify-content: center;
    }
}

