.header-container{
    display: grid;
    grid-template-columns: 200px auto;
    height: 10vh;
}

.header-logo{
    display: flex;
    justify-content: center;
    align-items: center;
} 

.header-center{
    background-color: #4F81E9;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-center h4{
    text-align: center;
    color: white;
}

@media screen and (max-width: 450px) {
    .header-container{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }
}